.source_a_ {
	color: green;
	animation: source_a_;
}

@keyframes source_b_ {
	0% { left: 10px; }
	100% { left: 20px; }
}

.source_b_ {
	animation: source_b_;
}

@keyframes c {
	0% { left: 10px; }
	100% { left: 20px; }
}

.source_c_ {
	animation: source_c1_;
	animation: source_c2_, source_c3_, source_c4_;
}

@keyframes d {
	0% { left: 10px; }
	100% { left: 20px; }
}

.d1 {
	animation: d1;
	animation: d2, d3, d4;
}

.d2 {
	animation: source_d2_;
}
