.source_a_ {
	color: green;
}

@keyframes source_bounce_ {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	5% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes source_bounce2_ {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	5% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

.source_bounce_ {
	animation-name: source_bounce_;
	animation: source_bounce2_ 1s ease;
}

.source_bounce2_ {
	color: green;
	animation: source_bounce_ 1s ease;
	animation-name: source_bounce2_;
}

.source_bounce3_ {
	animation: source_bounce_ 1s ease, source_bounce2_
}

.source_bounce4_ {
	animation: source_bounce_ 1s ease, source_bounce2_;
}

.source_b_ {
	color: green;
}
